<div id="destination_card" class="destination_card my-2" data-address="<%= destination.place.address %>">
  <div class="dc_up-down">
    <div id="button-up"><i class="fas fa-chevron-up"></i></div>
    <div id="button-down"><i class="fas fa-chevron-down"></i></div>
  </div>
  <%= link_to destination.place.accommodation? ? "javascript: void(0)" : place_path(destination.place), class:"d-flex" do %>
    <div class="dc_img">
      <%= destination.place.photos&.attached? ? cl_image_tag(destination.place.photos.first.key) : image_tag("https://images.vexels.com/media/users/3/128747/isolated/preview/30bdbb2e5f0f12d108d559752aff147e-sleeping-bed-real-estate-icon.png") %>
    </div>
    <div class="dc_info">
      <div>
        <h2><%= destination.place.name %></h2>
        <div class="d-flex">
          <%# ------------ TOILET --------------- %>
          <% if destination.place.toilet == "has_one" || destination.place.toilet == "has_many" %>
            <h3 class="mx-2 mt-1"><i class="access-icon fas fa-toilet-paper fa-lg"></i></h3>
          <% else %>
            <h3 class="mx-2 mt-1 position-relative">
              <i class="faded fas fa-toilet-paper fa-lg"></i>
              <i class="fas fa-slash fa-lg text-danger position-absolute top-0 start-0"></i>
            </h3>
          <% end %>
          <%# ------------ PARKING --------------- %>
          <% if destination.place.parking == "has"%>
            <h3 class="mx-2 mt-1"><i class="access-icon fas fa-parking fa-lg"></i></h3>
          <% else %>
            <h3 class="mx-2 mt-1 position-relative">
              <i class="faded fas fa-parking fa-lg"></i>
              <i class="fas fa-slash fa-lg text-danger position-absolute top-0 start-0"></i>
            </h3>
          <% end %>
          <%# ------------ ELEVATOR --------------- %>
          <% if destination.place.elevator == "has"%>
            <h3 class="mx-2 mt-1"><i class="access-icon fas fa-universal-access fa-lg"></i></h3>
          <% else %>
            <h3 class="mx-2 mt-1 position-relative">
              <i class="faded fas fa-universal-access fa-lg"></i>
              <i class="fas fa-slash fa-lg text-danger position-absolute top-0 start-0"></i>
            </h3>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
