<div class="container p-3 text-center">
  <h1>Itinerary: <%= @itinerary.name %></h1>
</div>
<div class="container p-3">
  <% unless @itinerary.destinations.any? %>
    <h3 class="text-center">No destinations yet</h3>
  <% end %>
  <ul data-controller="sortable" data-sortable-resource-name-value="destination" data-sortable-animation-value="150">
    <% @itinerary.destinations.order(position: :asc).each_cons(2) do |destination1, destination2| %>
      <li  data-sortable-update-url="<%= destination_path(destination1) %>">
        <%= render "destination_card", destination: destination1 %>
        <div class="d-flex justify-content-end">
          <%= link_to "Route Search", "https://www.google.com/maps/dir/#{destination1.place.address}/#{destination2&.place.address}", class: 'link mx-3 my-3', data: {sortable_target: 'button', address: destination1.place.address } %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
