// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;700&display=swap');

// Define fonts for body and headers
$body-font: "Circular", "Helvetica", "sans-serif";
$headers-font: "Circular", "Helvetica", "sans-serif";
$special-font: 'Advent Pro', "cursive";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
