@media (min-width: 500px) {
  .cards {
    grid-template-columns: 1fr 1fr;

  }

  .cards-categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 770px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .cards-categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 4px;
  }

  .cards-categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .navbar-bottom {
    background-color: transparent;
    width: 280px;
    height: unset;
    padding: 12px;
    bottom: unset;
    top: 0;
    right: 0;
    border-top: none;

    i {
      color: $blue;
    }
  }

  .nav-back {
    height: 50px;
    z-index: 1;
  }

  .place-imgs {
    img {
      width: 100vw;
    }
  }

  .place-content {
    margin-top: 484px;
  }

  .percentage-icon {
    width: 20%;
  }

  .button-add-summary {
    bottom: 18px;
  }

  #new_itinerary {
    width: 320px;
  }

  .new-itinerary-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .your-itineraries {
    // position: absolute;
    top: 92px;
    left: 28px;
  }

  .btn-form {
    width: 220px;
    position: fixed;
    bottom: 0px;
    right: 100px;
  }

  .button-add-hotel {
    bottom: 41px;
  }

  .modal.show .modal-dialog {
    // transform: none;
    position: absolute;
    top: 248px;
    right: 72px;
  }

  .comment-form {
    // background-color: white;
    margin-bottom: -44px;
  }

  .new_review {
    width: 50%;
    margin: 0 auto;
  }

  .comment-form {
    h5 {
      text-align: center;
    }
  }

  .places-list {
    border-radius: 12px 12px 0 0;
  }

  .place-content {
    border-radius: 12px 12px 0 0;
  }

  .footer {
    display: block;
    background-color: $light-gray;
    padding: 12px;
  }

  .percentage-icon {
    width: 69%;
  }

  .modal-content {
    position: absolute;
    top: 16px;
    right: 40px;
    width: 60vw;
    border: none;
    margin-top: -220px;
  }

  .place-img {
    height: 100%;
    border-radius: 18px;
  }
}

.arrow {
  i {
    font-size: 28px;
  }
}

.modal-content {
  border-radius: 18px;
}



@media (max-height: 769px) {
  .search-content-map {
    margin-top: -412px;
  }
  .places-list {
    margin-top: 471px;
  }
}
