<%= link_to 'javascript:history.back()', class: 'back-button' do %>
  <i class="fas fa-chevron-left"></i>
<% end %>
<div style="margin: 0 auto; margin-left: 100px;">
  <%= image_tag "brand_kit/text_logo_green.png", style: "margin:10px;", alt: "Allymaps icon", width: "100", height: "50" %>
</div>
