<%= link_to 'javascript:history.back()', class: 'back-button' do %>
  <i class="fas fa-chevron-left"></i>
<% end %>
<div style="margin: 0 auto; margin-left: 50px;">
  <%= link_to root_path, class: 'tablink' do %>
    <%= image_tag "brand_kit/Logo-Ally_Maps-horizontal_02.png", style: "margin:10px;", alt: "Allymaps icon", width: "200", height: "50" %>
  <% end %>
</div>
