<nav class="navbar-bottom">
  <%= link_to root_path, class: 'tablink' do %>
    <i class="fas fa-home nav-icon"></i>
  <% end %>
  <%= link_to places_path, class: 'tablink' do %>
    <i class="fas fa-search nav-icon"></i>
  <% end %>
  <%= link_to new_place_path, class: 'tablink' do %>
    <i class="fas fa-plus nav-icon"></i>
  <% end %>
  <%= link_to itineraries_path, class: 'tablink' do %>
    <i class="fas fa-map-marked-alt nav-icon"></i>
  <% end %>
</nav>
