<nav class="navbar-bottom">
  <%= link_to root_path, class: 'tablink' do %>
    <i class="fas fa-home"></i>
    <p id="nav-text">Home</p>
  <% end %>
  <%= link_to places_path, class: 'tablink' do %>
    <i class="fas fa-search"></i>
    <p id="nav-text">Search</p>
  <% end %>
  <%= link_to itineraries_path, class: 'tablink' do %>
    <i class="fas fa-map-marked-alt"></i>
    <p id="nav-text">Itinerary</p>
  <% end %>
</nav>
