<%= render 'shared/navbar_top' %>
<h1>On a Wheelchair? No problem.</h1>
<p>Plan your next trip, read reviews and get travel advice from our community on where to go</p>
<%# -------------BUTTON------------- %>
<div class="button mx-3 my-3">click me</div>
<%# -------------ROUTE SEARCH------------- %>
<li class="link mx-3 my-3" >Route Search</li>
<p>Top recommendations for you</p>
<%# -------------MIDDLE CARD------------- %>
<div class="mid_card mx-3 my-3">
  <img src="https://wallpaperaccess.com/full/2286682.jpg" alt="">
  <div class="mid_card-info">
    <h2>FUSHIMI INARI</h2>
    <p>Super Cool Place.</p>
  </div>
</div>
<%# -------------SMALL CARD------------- %>
<div class="small_card mx-3 my-3">
  <img src="https://wallpaperaccess.com/full/2286682.jpg" />
  <div class="small_card-info">
    <h2>FUSHIMI INARI</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
