.nav-back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}
.nav-back-place {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}

.back-button {
  h1 {
    color: black;
    font-size: 32px;
  }
}
