.button {
  background-color: #272c31;
  color: $light-gray;
  width: 166px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 36px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

  p {
    margin: 0;
    padding: 0;
  }
}

.button-add-summary {
  margin: 8px auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: fixed;
  bottom: 96px;
  right: 32px;
  background-color: $yellow;
  border: none;
}

.button-add-hotel {
  margin: 8px auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: fixed;
  bottom: 72px;
  right: 24px;
  background-color: $blue;
  border: none;
}
.button-review-post {
  background-color: $blue;
  padding: 12px 32px;
  border: none;
  border-radius: 36px;
  color: $light-gray;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
