.home-content {
  background-color: $light-gray;
  border-radius: 24px 24px 0 0;
}

.search-content {
  margin-top: 100px;
  background-color: $light-gray;
  border-radius: 24px 24px 0 0;
  // border-top: 1px solid rgb(213, 213, 213);
}
.search-content-map {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -564px;
  background-color: $light-gray;
  border-radius: 24px 24px 0 0;
  // border-top: 1px solid rgb(213, 213, 213);
  z-index: -1;
}

.place-content {
  margin-top: 212px;
  background-color: $light-gray;
  border-radius: 24px 24px 0 0;
  z-index: 55;
}

.places-list {
margin-top: 640px;
// margin-bottom: 108px;
background-color: $light-gray;
border-radius: 24px 24px 0 0;
border-top: 1px solid rgb(225, 225, 225);
}

.places-title {
  h2 {
    font-size: 20px;

  }
}
