.mid_card {
  background-color: $light-gray;
  width: 336px;
  // height: 336px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  /*fixed*/
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.2s ease-out;
  color: $gray;
}

.mid_card img {
  /*fixed*/
  width: 100%;
  min-height: 100px;
  height: 180px;
  flex-grow: 1;
  object-fit: cover;
  /*customizable*/
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}

.mid_card-info {
  /*customizable*/
  padding: 16px;
}

.mid_card-info h2 {
  /*customizable*/
  font-size: 16px;
  margin: 0;
}

.mid_card-info h3 {
  /*customizable*/
  font-size: 18px;
  margin: 0;
  text-align: end;
}

.mid_card-info h4 {
  font-size: 14px;
}

.gallery_card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.access-icon-card {
  padding: 0 8px;
  font-size: 24px;
}

// .card-link {
//   background-color: transparent;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
// }
.cards-icons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
