.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
    .container-fluid {
      p {
        color: $light-gray;
      }
    }
  }
  .navbar-toggler span {
    color: $light-gray;
  }
  .nav-item {
    padding: 8px 0;
    text-align: end;
  }
  .nav-link-dropdown {
    color: $light-gray;
    padding-right: 16px;
    font-size: 20px;
  }
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Bottom navbar

.navbar-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $light-gray;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 8px;
  border-top: 1px solid rgb(213, 213, 213);

}

.navbar-bottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0;
  display: flex;
  text-decoration: none;
  color: rgb(59, 59, 59);
}
.nav-icon {
  font-size: 26px;
}
#nav-text{
  padding: 0;
  margin: 0;
  font-size: 14px;
}


.navbar-bottom a:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {

}
