.hidden {
  display: none;
}
.place-info-long{
  padding: 0 8px;
  text-align: justify;
  h6 {
    text-align: left;
  }
}
.place-info-short{
  padding: 0 8px;
  text-align: justify;
  background-image: linear-gradient(to bottom, transparent, $light-gray);
  h6 {
    text-align: left;
  }

}
