.btn-route {
  padding: 2px;
  border-radius: 36px;
  margin: 12px 0;
  // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  color: var(--bs-body-color);
}
.google-pin {
  height: 24px;
}
