.search-form {
display: flex;
margin-bottom: 16px;
}
#address {
  border-radius: 36px 0 0 36px;
  padding: 16px 20px;
}
.btn-search {
  border-radius: 0 36px 36px 0;
  background-color: $blue;
  border-color: $blue;
  i {
    padding: 8px 10px;
    font-size: 20px;
  }
}
