.small_card {
  background-color: $light-gray;
  width: 336px;
  height: 109px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  /*fixed*/
  display: flex;
  overflow: hidden;
  color: $gray;
  transition: transform 0.2s ease-out;
}

.small_card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.small_card-info h2 {
  /*customizable*/
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.small_card-info h3 {
  /*customizable*/
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-align: end;
}

.small_card-info p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
  white-space: nowrap;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small_card .small_card-info {
  padding: 16px;
}

.small_card:hover {
  /*customizable*/
  transform: translateY(-8px);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
}